<!DOCTYPE html>
<html>
    <head>
        <meta name="charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='Home.CSS') }}">
        <title>Welcome to zaixianfapaiOJ</title>
    </head>

    <body>

        <header>
            <nav><!--主导航功能-->
                <ul><!--无序列表-->
                    <li><a href="{{ url_for('homepage') }}">首页</a></li>
                    <li><a href="{{ url_for('questions') }}">题库</a></li>
                    <li><a href="{{ url_for('competition') }}">比赛</a></li>
                    <li><a href="{{ url_for('release') }}">我要发布</a></li>
                    <div>
                        <li><a href="{{ url_for('login') }}">登录/注册</a></li>
<!--Python-->
                    </div>
                    <!--python-->
                </ul>
                <div class="spe">
                    <img src="{{ url_for('static', filename='./img/mark.png') }}" width="80px" height="80px" alt="logo">
                </div>
            </nav>
        </header>

        <script src="../static/jquery-3.4.1.js"></script>
        <script src="../static/layer.js"></script>
       
    <section class="feature">
            <!-- 左侧轮播图 -->
            <div class="slideShow">
                <!--图片布局开始-->
                <ul class="ulCla">
                    <li><a href="#"><img src="{{ url_for('static', filename='./img/1.png') }}" /></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='./img/2.png') }}" /></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='./img/3.png') }}" /></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='./img/4.png') }}" /></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='./img/5.png') }}" /></a></li>
                </ul>
                <!--图片布局结束-->
                
                <!--按钮布局开始-->
                <div class="showNav">
                    <span class="active">1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                </div>
                <!--按钮布局结束-->
            </div>
    </section>

    <footer>
        Welcome to contact us with <a href="https://github.com/VisualGMQ" target="view-window">https://github.com/VisualGMQ</a>
    </footer>

    </body>
</html>