body {
    background-color: floralwhite;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    background: linear-gradient( black, floralwhite);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: left;
    height: 200px;
    margin: 0;
    padding: 0;
}

ul div {
    float: right;
    display: inline;
}

nav {
    padding: 10px;
}

nav ul {
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav .spe {
    margin-top: 50px;
    margin-left: 12px;
    color: black;
    text-shadow: 0.1em 0.1em white;
}

header a {
    color: white;
    text-decoration: none;
    text-align: center;
}

footer a{
    color: white;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
    background: white;
    color: black;
    border-radius: 2px;
}

section {
    display: flex;
    flex-direction: row;
}

.feature{
    background: #F3EEE5;
    color: black;
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.QuestionBank a{
    text-decoration: none;
}

.QuestionBank div{
    width: 75%;
    margin: 10px 20px ;
    background: linear-gradient( floralwhite,  rgb(59, 161, 230));
    box-shadow: 0 0 10px;
}

.Competition a{
    text-decoration:none;
}

.TopicList a{
    text-decoration: none;
}

footer{
    color: white;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 30px;
    line-height: 30px;
}


table {
    table-layout: fixed;
    border-collapse: collapse;
    font-family: Futura, Arial, sans-serif;
}

th,td {
    padding: .65em;
}

th,td {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
}

.description div {
    display: inline-block;
    width: 300px;
}
.attribute div{
    display: inline-block;
    width: 300px;
}
.attribute textarea {
    width:200px;
    height: 100px;
}
.button div{
    display: inline-block;
    width: 300px;
}
textarea {
    font-size:16px;
    font-family:Arial;
}
.Release form {
    width: 90%;
    margin: auto ;
    background: linear-gradient( floralwhite,  rgb(59, 161, 230));
    box-shadow: 0 0 10px;
}
.Release .alldiv {
    width: 85%;
    margin: auto;
}

.left{
    width: 55%;
    height: 600px;
	float: left;
	text-align: center;
}

.right{
    width: 45%;
	float: left;
    background:#ddd;
    margin: 0px;
    padding: 0px;
}

.right p{
    margin: 0px auto;
    float: left;
}

#codeArea{
    width: 95%;	
    margin: 0px;
    padding: 0px;
    float: left; 
	position: absolute;
}

.CodeMirror {
    font-size: 18px;
    width: 100%;
    height: 100%;
}

.slideShow{
    width: 848px;
    height: 600px;     /*其实就是图片的高度*/
    border: 1px #eeeeee solid;
    border-radius: 4px;
    box-shadow: 0 0 10px;
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow: hidden;    /*此处需要将溢出框架的图片部分隐藏*/
}

.slideShow ul{
    width: 6000px;
    position: relative;    /*此处需注意relative : 对象不可层叠，但将依据left，right，top，bottom等属性在正常文档流中偏移位置，如果没有这个属性，图片将不可左右移动*/
    list-style: none;
    margin: 0px;
}
.slideShow ul li{
    float: left;     /*让五张图片左浮动，形成并排的横着布局，方便点击按钮时的左移动*/
    width: 848px;
}

.slideShow ul li a img{
    width: 848px;
    height: 600px;
}

.slideShow .showNav{     /*用绝对定位给数字按钮进行布局*/
    position: absolute;
    right: 10px;
    bottom: 5px;
    text-align:center;
    font-size: 12px;    
    line-height: 20px;
}
.slideShow .showNav span{
    cursor: pointer;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background: #ff5a28;
    margin-left: 2px;
    color: #fff;
}
.slideShow .showNav .active{
    background: #b63e1a;
}