body {
    background-color: floralwhite;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    background: linear-gradient( black, floralwhite);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: left;
    height: 200px;
    margin: 0;
    padding: 0;
}

ul div {
    float: right;
    display: inline;
}

nav {
    padding: 10px;
}

nav ul {
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav .spe {
    margin-top: 50px;
    margin-left: 12px;
    color: black;
    text-shadow: 0.1em 0.1em white;
}

header a {
    color: white;
    text-decoration: none;
    text-align: center;
}

footer a{
    color: white;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
    background: white;
    color: black;
    border-radius: 2px;
}

section {
    display: flex;
    flex-direction: row;
}

.feature{
    background: #F3EEE5;
    color: black;
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.QuestionBank a{
    text-decoration: none;
}

.QuestionBank div{
    width: 75%;
    margin: 10px 20px ;
    background: linear-gradient( floralwhite,  rgb(59, 161, 230));
    box-shadow: 0 0 10px;
}

.Competition a{
    text-decoration:none;
}

.TopicList a{
    text-decoration: none;
}

footer{
    color: white;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 30px;
    line-height: 30px;
}


table {
    table-layout: fixed;
    border-collapse: collapse;
    font-family: Futura, Arial, sans-serif;
}

th,td {
    padding: .65em;
}

th,td {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
}

.description div {
    display: inline-block;
    width: 300px;
}
.attribute div{
    display: inline-block;
    width: 300px;
}
.attribute textarea {
    width:200px;
    height: 100px;
}
.button div{
    display: inline-block;
    width: 300px;
}
textarea {
    font-size:16px;
    font-family:Arial;
}
.Release form {
    width: 90%;
    margin: auto ;
    background: linear-gradient( floralwhite,  rgb(59, 161, 230));
    box-shadow: 0 0 10px;
}
.Release .alldiv {
    width: 85%;
    margin: auto;
}

.left{
    width: 55%;
    height: 600px;
	float: left;
	text-align: center;
}

.right{
    width: 45%;
	float: left;
    background:#ddd;
    margin: 0px;
    padding: 0px;
}

.right p{
    margin: 0px auto;
    float: left;
}

#codeArea{
    width: 95%;	
    margin: 0px;
    padding: 0px;
    float: left; 
	position: absolute;
}

.CodeMirror {
    font-size: 18px;
    width: 100%;
    height: 100%;
}